html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F5F5F5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  border-radius: 25px;
  padding: 10px 20px;
  width: max-content;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  

}

.btn-secondary {
  background-color: #FAA017;
}

.btn-big {
  padding: 20px 30px;
}

.btn-outline {
  border: 1px solid #D5D5D5;
}

.container_width {
  width: 90%;
}